---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Build</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <NavigationBar />
    <div>layout</div>
    <slot />
    <Footer />
  </body>
</html>

<!-- <style is:global>
    h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1em;
        color: lightgray;
    }
</style> -->
