---
import ThemeToggler from './ThemeToggler.astro';
---

<nav>Navigation Bar</nav>
<div><ThemeToggler /></div>

<style>
  nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
</style>
